<!--Inicio del Header-->
<app-header></app-header>
<!--Fin del Header-->



<!--Inicio del Intro-->
<app-intro></app-intro>
<!--Fin del Intro-->



  <main id="main">


<!--Inicio AboutUs-->
<app-about-us></app-about-us>
<!--Fin AboutUs-->



<!--Inicio de Seccion Services-->
<app-services></app-services>
<!--Fin de sección Services-->



<!--Inicio WhyUs-->
<app-why-us></app-why-us>
<!--Fin WhyUs-->



<!--Inicio Portfolio-->
<app-port-folio></app-port-folio>
<!--Fin Portfolio-->



<!--Inicio Seccion Clientes-->
<app-clientes></app-clientes>
<!--Fin Seccion Clientes-->



<!--Inicio Seccion Equipo-->
<app-equipo></app-equipo>
<!--Fin Seccion Equipo-->



<!--Inicio Seccion Testimonials-->
<app-testimonials></app-testimonials>
<!--Fin Seccion Testimonials-->




<!--Inicio Seccion Contacto-->
<app-contacto></app-contacto>
<!--Fin Seccion Contacto-->


  </main>


<!--Inicio del Footer-->
<app-footer></app-footer>
<!--Fin del Footer-->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->


<router-outlet></router-outlet>